/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
body {
  background: #fff;
  width: 1280px;
  margin: 0 auto;
}

/* line 20, ../sass/screen.scss */
.grid-wrapper {
  width: 1024px;
  background: #fff;
  margin: 0 auto;
  padding-top: 20px;
}

/* line 27, ../sass/screen.scss */
.grid-content {
  margin: 0 auto;
  width: 980px;
  padding-bottom: 20px;
}

/* line 33, ../sass/screen.scss */
.section-1 img.item,
.section-2 img.item {
  margin-left: 70px;
  margin-top: 20px;
}

/* line 39, ../sass/screen.scss */
.section-1 img.item:hover,
.section-2 img.item:hover {
  background: #cc8400;
  cursor: pointer;
  box-shadow: 1px 0px 1px 0px orange;
}

/* line 47, ../sass/screen.scss */
.grid-search .logo {
  display: inline-block;
  position: relative;
  left: 200px;
}

/* line 53, ../sass/screen.scss */
.float-r {
  float: right;
}

/* line 57, ../sass/screen.scss */
.menu a.trigger {
  margin-right: 30px;
  margin-top: 8px;
  text-decoration: none;
}

/* line 63, ../sass/screen.scss */
.menu a.trigger:hover {
  text-decoration: underline;
}

/* line 69, ../sass/screen.scss */
input[type="search"] {
  border: 1px solid #d5d5d5;
  height: 50px;
  width: 90%;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 10px;
  font-size: 1.2em;
  font-style: normal;
  padding-left: 20px;
}

/* line 81, ../sass/screen.scss */
input[type="search"]:hover {
  background: white;
}

/* line 85, ../sass/screen.scss */
input[placeholder] {
  color: red;
}
